.crypto_card_container {
  min-height: 65vh !important;
}

.crypto_card {
  min-width: 250px;
}

.crypto_card .crypto_image {
  width: 35px;
}

.crypto_card .crypto_image {
  width: 35px;
}

.search_crypto{
  margin: 20px auto 30px auto;
  width: 250px;
}